<div class="album-card">
        <img class="artist-img" src="{{this.images.1.url}}" alt="Not Loaded">    
        <h2>{{this.name}}</h2>
        <button class="link-btn">
             <a href="/tracks/{{this.id}}">View tracks</a>
        </button>  
    </div>
