
    <div class="album-card">
        <img class="album-img" src="{{images.1.url}}" alt="Not Loaded">
        <h2>{{name}}</h2>
        <button class="link-btn">
             <a href="/albums/{{id}}">View Albums</a>
        </button>
    </div>
